

<div class="container">
    <h2 class="text-center">Add New Patients</h2>
    
      
      <div class="form-group">
        <label>Name</label>
        <input type="text" id="name" class="form-control" name="name"[(ngModel)]="patient.name" required>
      </div>

      <div class="form-group">
        <label>Age</label>
        <input type="text" id="age" class="form-control" name="age"[(ngModel)]="patient.age" required>
      </div>

      <div class="form-group">
        <label>Blood</label>
        <input type="text" id="blood" class="form-control" name="blood"[(ngModel)]="patient.blood" required>
      </div>

      <div class="form-group">
        <label>Prescription</label>
        <input type="text" id="prescription" class="form-control" name="prescription"[(ngModel)]="patient.prescription" required>
      </div>

      <div class="form-group">
        <label>Fees</label>
        <input type="text" id="fees" class="form-control" name="fees"[(ngModel)]="patient.fees" required>
      </div>

      <div class="form-group">
        <label>Urgency</label>
        <input type="text" id="urgency" class="form-control" name="urgency"[(ngModel)]="patient.urgency" required>
      </div>

      <button (click)="onSubmit()">submit</button>